<p id="notice"><%= notice %></p>
<%= puts(params) %>
<p>
  <strong>Email:</strong>

  @<%= @user.email %><br />
</p>
<p>
  <strong>Avatar:</strong>
  <%= @profile.avatar %>
</p>

<p>
  <strong>Background:</strong>
  <%= @profile.background %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @profile.place %>
</p>

<p>
  <strong>Website:</strong>
  <%= @profile.website %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>
 <% if current_user.id == @profile.user_id %>
 <%= puts(@user)%>
  <%= link_to 'Editer', edit_profile_path('me') %>
 <% end %>

<%= link_to 'Back', profiles_path %>
