<p id="notice"><%= notice %></p>

<h1>Gazooys</h1>
<div class="gazooys-block">

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gazooys.each do |gazooy| %>
        <tr>
         <% @users.each do |item| %>
          <tr>
          <% if item.id == gazooy.id %>
              <% @profiles.each do |prof| %>
                  <% if prof.user_id == item.id %>
                      <td><%= prof.avatar %></td>
                 <% end %>
            <% end %>
         <% end %>
        <% end %>
          <td><%= gazooy.text %></td>
          <% if gazooy.user.present?%>
          <td><%= gazooy.user.email %></td>
          <%else %>
          <td>User isnt present</td>
          <% end %>
          <td><%= link_to 'Show', gazooy %></td>
          <td><%= link_to 'Edit', edit_gazooy_path(gazooy) %></td>
          <td><%= link_to 'Destroy', gazooy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New Gazooy', new_gazooy_path %>
 <div class='col-md-4 jumbotron pages'>
        You're on Gazooyr !
        <% @pages.each do |item| %>
  <h2>Title: <%= item.title %><br /></h2>
<% end %>